# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/advance1/portfoliobackend.advanceticsoft.com"
PassengerBaseURI "/"
PassengerNodejs "/home/advance1/nodevenv/portfoliobackend.advanceticsoft.com/10/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv ATLAS_URI mongodb+srv://atriahmed:atriahmed@cluster0.eo2bi.mongodb.net/test
SetEnv PORT 5000
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END